h1 {
    color: rgb(56, 175, 20);
    text-align: center;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
} 

h2 {
    color: rgba(5, 155, 255, 0.966);
}

body {
    background-color: rgba(4, 247, 105, 0.945);
}

.styleli{
    color: rgb(8, 79, 211);
    font-weight: 300;
    font-size: 18px;
}

.mybutton {
    background-color: rgb(255, 217, 0);
    color: rgb(4, 238, 247);padding:10px 20px ;
    border: none;
    cursor: pointer;
}

.images {
    width: 230px; 
    height: 200px;
}